@import "../src/style/normalize.css";
@import "../src/style/mobile.css";

.navbar {
    display:flex; 
    min-width:'100%'; 
    border: 1px solid gray; 
    min-height:5rem;
    align-items: center;
}

.navbarElement {
    padding: 1rem;
    font-size: 1.5rem;
    text-decoration: none;
}

.authForm {
    border: 1px solid gray;
    width:400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.authFormInput {
    padding: 10px;
    margin: 10px;
}

.authFormButton {
    max-width: 50%;
    margin: 10px;
}