@media screen and (orientation: portrait) and (min-width: 319px) {

    html {
        font-family: fantasy;
        font-size: calc(2vw + 1.5rem);
    }

    *, *::before, *::after {
        font-size: inherit;    
    }

    body {
        background: repeating-conic-gradient(
            from 45deg,
            #000 0% 30%,
            #3cc5e1 60% 100%
        ) no-repeat fixed;
    }

    .NavbarAppRouterContainer {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    input {
        background: rgb(0,0, 0, 0.2);
        color: #f3f3f4;  
        margin: 0.3rem;
        border-radius: 5px;
    }

    .navbar_button {
        cursor: pointer;
        flex: 0 0 2rem;
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
        border-radius: 0.5rem;
    }

    .navbar_search {
        flex: 1 1 auto;
        margin: 0.1rem;
    }

    .navbar {
        min-width: 100vw;
        flex: 0 1 auto;
    }

    .button_search_navbar_container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background: rgba(0, 0, 0, 0.2);
    }

    .navbar_elements_container {
        position: absolute;
        width: 100vw;
        display: flex;
        justify-content: start;
        flex-direction: column;
    }

    .enter {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 90vh;
    }

    .authForm {
        display: flex;
        max-width: 100vw;
        flex-direction: column;
        background: rgb(0,0, 0, 0.2);
        align-items: center;

    }

    .NavLinkContaiter {
        background: #f4f4f1
    }

    .navbar_element {
        display: flex;
        align-items: center;
        background: rgb(0,0,0, 0.2);
    }

    .burger {
        max-width: 2rem;
        border-radius: 0.5rem;
        margin: 0.1rem 0 0.15rem 0.1rem;
    }

    .locker {
        max-width: 2rem;
    }

    .navbarText {
        display: block;
        margin-left: 0.4rem;
    }

    .navbarIcon {
        max-width: 2rem;
    }

    .accountInfo {
        font-size: 0.7rem;
        color: #fff;
        margin: 0 0 0 0.3rem;
    }

    .regAndLoginContainer {
        display: flex;
    }

    .regAndLoginToggle {
        font-size: 0.7rem;
        color: #fff;
        cursor: pointer;
        margin: 0 0 0 0.3rem;
        text-decoration: underline;
    }

    .authFormButton {
        background: rgb(0,0, 0, 0.5);
        border-radius: 5px;
        color: #fff;
        margin: 0.3rem;
        align-self: center;
    }

    .authFormLabel {
        color: #fff;
        font-size: 0.8rem;
        align-self: center;
    }

    .deviceName {
        margin: 0;
        padding: 0;
        font-size: 0.9rem;
        font-weight: normal;
    }

    .shop {
        height: 100vh;
    } 

    .deviceList {
        display: flex;
        flex-direction: column;  
        align-items: center;
    }

    .productCard {
        min-width: 80vw;
        margin: 0.5rem 0 0 0;
        display: flex;
        flex-direction: column;
        /* color: #fff; */
        align-items: center;
        /* border: 1px solid black; */
        background: rgba(255, 255, 255, 0.7);
        /* border-radius: 0.5rem; */
        box-shadow: 0px 0px 2px 2px rgb(109, 172, 193);
    }

    .productCardImage {
        border-radius: 0.5rem;
    }

    .productCardButton {
        background: rgb(0,0, 0, 0.5) url('../images/Basket.svg') repeat;
        border-radius: 5px;
        color: #fff;
        margin: 0.3rem;
        align-self: center;
    }

    .productCardRating {
        font-size: 0.7rem;
    }

    .productCardPrice {
        font-size: 0.7rem;
    }

    .footer {
        background: rgb(0,0,0,0.2);
        color: #fff;
        font-size: 0.7rem;
        min-height: 9vh;
    }

    .basketButton {
        width: 2rem;
        cursor: pointer;
    }
}