@media screen and (orientation: portrait) and (min-width: 319px) {

    html {
        font-family: fantasy;
        font-size: calc(2vw + 1.5rem);
    }

    *, *::before, *::after {
        font-size: inherit;    
    }

    @keyframes visible {
        0% {opacity: 1}
        100% {opacity: 0}
    }

    .navbar_button {
        cursor: pointer;
        flex: 0 0 2rem;
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
        background: url('../images/navbar_cross.svg');
    }

    .navbar_cross {
        cursor: pointer;
        flex: 0 0 2rem;
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
        background: url('../images/navbar_cross2.svg');
    }

    .navbar_button:active,
    .navbar_cross:active {
        animation: visible 0.5s;
    }

    .navbar_search {
        flex: 1 1 auto;
        margin: 0.1rem;
    }

    .navbar_elements_container_hidden {
        width: 0;
        height: 0;
        font-size: 0;
    }

    .navbar {
        position: relative;
        min-width: 100vw;
        background: black;
    }

    .button_search_navbar_container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 10vh;
    }

    .navbar_elements_container {
        position: absolute;
        height: 90vh;
        width: 100vw;
        background: rgb(0,0,0, 0.5);
        display: flex;
        justify-content: start;
        flex-direction: column;
    }

    .enter {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 90vh;
    }

    .authForm {
        border: 1px solid black;
    }

    .navbar_element {
        color: #fff;
        display: block;
    }

    .divvv{
        min-width: 100%;
    }
}